.aboutUsPage {
    margin-top:100px;
    padding:50px;
    background: rgba( 255, 255, 255, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.registerNumber {
    color:red;
}
.officesContact {
    display: flex;
    flex-direction: column;
}
.contactList  {
    list-style:unset;
    margin-left:50px;
    padding:5px;
}
.officesContact {
 
    align-self: left;
}