.buildingPage {
    margin-top: 100px;
    padding:50px;
}

.contactList>svg {
    padding:4px;
    color:Red;
}

@media screen and (max-width: 573px) {
    .buildingPage {
        margin-top: 30px;
       
    }
}