.showcase {

    position: relative;
    right:0;
    width: 100%;
    z-index: -10;
    min-height: 100vh;
    margin:10px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.13);
}
.textofshowCase {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.showcase video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buyahome {
    text-align: center;
    position: relative;
    top:100px;
    color:white;
    width: 250px;
    background: rgb(0, 119, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.buyahome > a {
    color:white;
}
.textBold {
    position: relative;
    right:145px;
    /* background: rgba( 255, 255, 255, 0.35 ); */
    color:whitesmoke;
}
.secondTextBold {
    text-decoration: underline;
    text-decoration-color: red;
}
.buyahome:hover  {
    cursor: pointer;
    color:whitesmoke;
    background: rgba( 74, 144, 226, 0.65 );
}
.landingPage {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    height: 88%;
    margin-top:3px;
    align-items: center;
  
    background-size: cover;
    background-position: center;
}
.col {
    flex-basis: 50%;
}
.col > h1 {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-line: overline;
    padding-left:50px;
    color:white;
    font-size: 4rem;
    font-style: oblique;
    stroke: rgba(12, 24, 194, 0.37);
}
.card {
    border:1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding:23px;
    margin:10px 50px;
    box-sizing: border-box;
    transition: all 1.5s ease-in-out;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba(12, 24, 194, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;
    
}
.card:hover {
    transform: translateY(-10px) scale(1.4);

}
.row1 {
    background-image: url('../assets/images/hall2.jpg'); 
}
.card1Suits {
    background-image: url('../assets/images/bedroom5.jpg');
}
.card2Suits {
    background-image:url('../assets/images/bedroom2.jpg');
}
.card3Suits {
    background-image: url('../assets/images/bedroom1.jpg');
}
.card4Suits {
    background-image: url('../assets/images/bed2.jpg');
}

/* bath room */
.row2 {
    background-image: url('../assets/images/bathroom2.jpg');
}
.card5Suits {
    background-image: url('../assets/images/Sona.jpg');
}
.card6Suits {
    background-image: url('../assets/images/bathroom.jpg');
}
.card7Suits {
    background-image: url('../assets/images/bathroomshower.jpg');
}
.card8Suits {
    background-image: url('../assets/images/bathroom8.jpg');
}

/* interrior */

.row3 {
    background-image: url('../assets/images/hall.jpg');
}
.card9Suits {
    background-image: url('../assets/images/table8.jpg');
}
.card10Suits {
    background-image: url('../assets/images/table5.jpg');
}
.card11Suits {
    background-image: url('../assets/images/table3.jpg');
}
.card12Suits {
    background-image: url('../assets/images/table4.jpg');
}
/* kitchen */

.row4 {
    background-image: url('../assets/images/kitchen6.jpg');
}
.card13Suits {
    background-image: url('../assets/images/kitchen4.jpg');
  
}
.card14Suits {
    background-image: url('../assets/images/kitchen2.jpg');
}
.card15Suits {
    background-image: url('../assets/images/kitchen3.jpg');
}
.card16Suits {
    background-image: url('../assets/images/kitchen.jpg');
}

/* table and interiors */


.row5 {
    background-image: url('../assets/images/hall3.jpg');
}
.card17Suits {
    background-image: url('../assets/images/corridor5.jpg');
}
.card18Suits {
    background-image: url('../assets/images/corridor3.jpg');
}
.card19Suits {
    background-image: url('../assets/images/corridor2.jpg');
}
.card20Suits {
    background-image: url('../assets/images/chairs.jpg');

}

/* sofa */
.row6 {
   
    background-image: url('../assets/images/sofa.jpg');
}
.card21Suits {
    background-image:url('../assets/images/mirror.jpg');
}
.card22Suits {
    background-image: url('../assets/images/cupboard1.jpg');
}
.card23Suits {
    background-image:url('../assets/images/view4.jpg');
}
.card24Suits {
    background-image: url('../assets/images/view2.jpg');

}

@media screen and (max-width: 573px) {
    .showcase {

      
      position: relative;
        width: 90vw;
        z-index: -10;
        min-height: 500px;
        
        margin-top:0;
        margin-bottom: 0;
        padding:0;
       
    }

    .textofshowCase {
        position: absolute;
     
        bottom:1px;
        
        height: 100px;
        display: flex;

        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1rem;
      
    }
    .showcase video {
        position: absolute;
        top:100px;
        z-index: -1;
        bottom:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .buyahome {
        height: 50px;
        width:105px;
        position: unset;
   
    }
    .buyahome > a {
        color:white;
        
    }
    .overlay {
        background-color: rgba(255, 255, 255, 0.322);
    }
    .textBold {
        position: unset;
        color:red;
    }
    .secondTextBold {
        color:black;
        text-decoration: underline;
        text-decoration-color: red;
    }
    .buyahome:hover  {
        cursor: pointer;
        color:whitesmoke;
        background: rgba( 74, 144, 226, 0.65 );
    }
  
    .landingPage {
        position: relative;
        min-width: auto;
        min-height: auto;
        z-index: -1;
    }
    .row {
        display: flex;
        height: 100%;
        margin-top:1px;
        align-items: flex-end;
      
        background-size: cover;
        background-position: center;
    }
    .col {
        padding-bottom: 100px;
        flex-basis: 50%;
    }
    .col > h1 {
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-line: overline;
       padding-left: 10px;
        color:white;
        font-size: 2rem;
        font-style: oblique;
        stroke: rgba(12, 24, 194, 0.37);
    }
    .card {
        border:1px solid black;
        width: 80px;
        height: 80px;
        display: inline-block;
        border-radius: 10px;
        margin:4px 4px;
      
        
    }
    .card:hover {
        
        transform: translateX(-150px) scale(3);
        
        
    }
    .col:nth-child(1):hover {
        transform: translateX(-150px) translateY(100)  scale(3);
    }
  }